table {
  width: 100%;
}

.dotInactive {
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}


.dotSuccess {
  height:10px;
  width: 10px;
  background-color:green;
  border-radius: 50%;
  display: inline-block;
}
